{% extends 'base/base.html' %}
{% block content %}


    <div class="container text-center">
        <div class="col" style="margin: 5%">

            <h3> Weather in cities With multiple forms</h3>
        </div>
            <div id="weatherForm">
                {% include 'partials/weather_form.html' %}
            </div>

            <div class="col col-lg-1" style="margin: 4%">
            <button type="button" class="btn btn-secondary btn-sm" id="btn-add"
                hx-get="/weather_city/"
                hx-target="#weatherForm"
                hx-swap="beforeend"
            >
                + Add City
            </button>
            </div>
            <br>
            <ul>
                {% include 'partials/return_weather.html' %}
            </ul>
            <div class="col col-lg-1">
                <button type="submit" class="btn btn-primary btn-lg" id="submitAll">
                        <h4 class="">Submit Choice/s</h4>
                </button>
            </div>

      </div>


{% endblock %}
