{% extends 'base/base.html' %}
{% block content %}

    <h3> Weather in cities With multiple forms</h3>

    <div id="weatherForm">
        {% include 'partials/weather_form.html' %}
    </div>

    <br>
    <button type="button"
        hx-get="/weather_city/"
        hx-target="#weatherForm"
        hx-swap="beforeend"
    >
        + Add City
    </button>

    <br>
    <ul>
        {% include 'partials/return_weather.html' %}
    </ul>
    <div><br>
        <button type="submit" class="btn btn-success" id="submitAll">
                <h4 class="">Submit Weather</h4>
        </button>
    </div>


{% endblock %}
