{% block content%}

<div class="container text-center">
          <form
            hx-post="return_weather/"
            hx-target="#weather-return"
            hx-swap="beforeend"
            hx-trigger="click from:#submitAll"
        >
    <div class="row">

            <div class="col col-lg-1">
                <label for="insertForm4" class="form-label">
                    Chose your city
                </label>
            </div>
            <div class="col col-lg-2">
                    <input type="text" class="form-control border-4 rounded-pill" id="inserCity2"
                           name="city" style="width: 157px;" role="textbox" aria-label="Entrer the first city name">
            </div>


            <div class="col">
                <select name="day" class="form-control border-4 rounded-pill" id="insertForm" required
                        style="width: 157px;" role="menu" aria-label="Selectioner menu">
                    <option value="" disabled selected hidden>Chose Day </option>
                    <option value=1>Today</option>
                    <option value=2>Tomorrow</option>
                    <option value=3>The day after tomorrow</option>
                    <option value=4>Three days from now</option>
                    <option value=5>Four days from now</option>
                    <option value=6>Five days from now</option>
                    <option value=7>Six days from now</option>
                </select>
            </div>

        </div>
   </form>
</div>

{% endblock %}
